body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: auto;
    color: #666666;
    width: 1519px;
    background-color: #E3EEF8;
}

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

.container {
    max-width: 1110px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}


/*@media (max-width:1100px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}*/