body {
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100%;
    background-image: url(../img/night/bg.svg);
    padding-bottom: 180px;
    padding-top: 20px;
}

#header-logo {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    text-transform: uppercase;
    /* White */
    color: #FFFFFF;
}

#header-logo:hover {
    transition-duration: .4s;
    color: rgb(71, 80, 92);
}

.arrow {
    margin-top: -3px;
}

.header-heading-wrapper {
    margin-top: 150px;
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
}

.header-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    /* or 122% */
    text-align: center;
    text-transform: uppercase;
    /* Black */
    color: #000000;
}

#header-link {
    color: black;
}

#header-link:hover {
    transition-duration: .4s;
    color: cornflowerblue;
}


/*----------------------
--------SECTION1---------
------------------------*/

.first-section-container {
    margin-top: 150px;
    margin-bottom: 150px;
}

#big-img {
    text-align: center;
}

.first-content-wrapper {
    margin-top: 150px;
    display: flex;
    margin-bottom: 150px;
}

.first-info {
    display: flex;
}

.data {
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    text-transform: uppercase;
    /* White */
    color: #FFFFFF;
    opacity: 0.4;
}

.data-info {
    margin-left: 26px;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    text-transform: uppercase;
    /* White */
    color: #FFFFFF;
}

.first-text {
    margin-left: 95px;
    max-width: 448px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    /* White */
    color: #FFFFFF;
}

.images-wrapper {
    display: flex;
}

.first-img {
    margin-right: 50px;
}

.section3 {
    padding-top: 224px;
    padding-bottom: 175px;
    background-image: url(../img/night/2bg.png);
    margin-bottom: 150px;
}

.bg-text-wrapper {
    max-width: 448px;
    margin-left: 672px;
}

.bg-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-transform: uppercase;
    /* Black */
    color: #000000;
}

.section5-heading-wrapper {
    max-width: 928px;
}

.section5-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    /* or 122% */
    text-transform: uppercase;
    /* White */
    color: #FFFFFF;
}

.section5-text-wrapper {
    margin-top: 50px;
    max-width: 928px;
}

.section5-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    text-transform: uppercase;
    /* White */
    color: #FFFFFF;
}